@charset "utf-8";
@import "../_mixin.scss";

.edit-task {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  @include tab {
    width: 70%;
  }
  @include sp {
    width: 80%;
  }
}

.edit-task-form {
  color: #555555;
}

.edit-task-title {
  width: 400px;
  margin-bottom: 25px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
  @include tab {
    width: 98%;
    max-width: 400px;
  }
  @include sp {
    width: 98%;
  }
}

.edit-task-detail {
  width: 400px;
  height: 120px;
  margin-bottom: 25px;
  font-size: large;
  margin-bottom: 25px;
  @include tab {
    width: 98%;
    max-width: 400px;
  }
  @include sp {
    width: 98%;
  }
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}
.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
.edit-task-limit {
  margin-bottom: 24px;
  width: 400px;
  margin-bottom: 25px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
  @include tab {
    width: 98%;
    max-width: 400px;
  }
  @include sp {
    width: 98%;
  }
}
.error-message {
  color: #ff3333;
}

@include sp {
  .edit-task-inputbutton-sp {
    text-align: center;
  }
  .edit-task-button-sp {
    display: flex;
    flex-flow: column;
    align-items: center ;
    button {
      margin: 8px 0;
    }
  }
}
