@charset "utf-8";
@import "../_mixin.scss";

.edit-list {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  @include tab {
    width: 70%;
    max-width: 500px;
  }
  @include sp {
    width: 80%;
  }
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 400px;
  margin-bottom: 25px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
  @include tab {
    width: 98%;
    max-width: 400px;
  }
  @include sp {
    width: 98%;
  }
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

@include sp {
  .list-button-sp {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
  .edit-list-button {
    margin: 0;
  }
}
