@charset "utf-8";
@import "../_mixin.scss";


.header {
  width: 100%;
  height: 80px;
  background-color: #242f9b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tab {
    h1 {
      font-size: 24px;
    }
  }

  @include sp {
    h1 {
      font-size: 18px;
    }
  }

}

button {
  color: #ffffff;
  margin: auto 25px auto auto;
}

